@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
body{
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  vertical-align: middle;
  font-size: 20px;
  font-weight: bold;
}
.jumbotron{
  background-color: white;
}
.design{
  display: none;
  width: 250px;
  height: 10%;
  padding-left: 10px;
  
}
.development{
  display: none;
  width: 300px;
  height: 10%;
  padding: 10px;
}
.product{
  display: none;
  width: 300px;
  height: 10%;
  padding-right: 10px;
}
.media{
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.hover {
  opacity:0;
  background-color: rgba(255, 255, 255, 0.623);
  position: absolute;
  top:25%;
  bottom:25%;
  left:25%;
  color: black;
  right:25%; 
}
input[type=text] {
  background:transparent;
  color: white;
}
::-webkit-input-placeholder {
  background:transparent;
  color: white;
}
 .icons{
  width: 540px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
}
img{
  vertical-align: middle;
}

.portfolio:hover{
color: black;
width: auto;
height: auto;
}
.services{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}