@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
body{
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  vertical-align: middle;
  font-size: 20px;
  font-weight: bold;
}
.jumbotron{
  background-color: white;
}
.design{
  display: none;
  width: 180px;
  height: 10%;
  padding-left: 10px;
  
}
.development{
  display: none;
  width: 180px;
  height: 10%;
  padding: 10px;
}
.product{
  display: none;
  width: 180px;
  height: 10%;
  padding-right: 10px;
}
.media{
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.hover {
  opacity:0;
  background-color: rgba(255, 255, 255, 0.623);
  position: absolute;
  top:25%;
  bottom:25%;
  left:25%;
  right:25%; 
}
input[type=text] {
  background:transparent;
  color: white;
}
::-webkit-input-placeholder {
  background:transparent;
  color: white;
}
.card{
  align-content: center;
}
img{
  vertical-align: middle;
}
.container-fluid{
  align-items: center;
  margin-right: auto;
  margin-left: auto;
display: block;
justify-self: center;
}